
<p id="notice"><%= "Searched for key=>#{@key} and value=>#{@value}" %></p>
<br>
<div id="photographs">
<% if !@matching_photos %>
  <p id="notice">No matches</p>
<% else %>
  <% @matching_photos.each do |photo| %>
    <div class="photograph">
    <div class="title"><%= photo.title %></div>
    <a class="image" href="javascript:$('dialog_div').dialog('open');">
    <%= image_tag photo.image_url(:thumb).to_s %></a>
    <div id="dialog_div">
      <%= photo.description %>
    </div>
    <div class="actions">
      <% if current_user %>
        <% if current_user.id == photo.user_id %>
          <%= link_to 'Edit', edit_photograph_path(photo) %>
          <%= link_to 'Remove', photo, :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      <% end %>
      <%= link_to "Add Tag", new_photograph_tag_hash_path(:photograph_id => photo.id) %>
    </div>
  </div>
  
    <br>
  <% end %>
<% end %>

<%= link_to "All Photos", root_path %><br>
<% if current_user %>
<%= link_to "Add Photograph", new_photograph_path %>
<% end %>
