<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @tag_hash.key %>
</p>

<p>
  <strong>Value:</strong>
  <%= @tag_hash.value %>
</p>

<p>
  <strong>Photograph:</strong>
  <%= @tag_hash.photograph_id %>
</p>

<%= link_to 'Back', root_path %>
